.student-panel__header {
  background-color: rgb(35, 35, 35);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-panel__list {
  gap: 42px;
}

.student-panel__list .link {
  font-size: 1.4rem;
  transition: 0.3s all;
}

.student-panel__list .link:hover {
  transform: scale(0.95);
}

@media only screen and (max-width: 576px) {
  .student-panel__list .link {
    font-size: 1.1rem;
  }

  .student-panel__list {
    padding: 0 10px;
  }
}
