.student-panel__header {
  background-color: rgb(35, 35, 35);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-panel__nav {
  position: relative;
}

.student-panel__list {
  gap: 42px;
}

.student-panel__list .link-text {
  font-size: 1.4rem;
  transition: 0.3s all;
}

.student-panel__list .link:hover .link-text {
  font-size: 1.3rem;
}

.button {
  background-color: rgb(35, 35, 35);
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.link {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: absolute;
  flex-direction: column;
  top: 150px;
  width: 175px;
  height: 140px;
  background-color: rgb(35, 35, 35);
  list-style: none;
  display: none;
  transition: 0.5s all;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 10px;
}

.dropdown-trigger:hover .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.15s forwards;
}

.dropdown-link {
  font-size: 1.4rem;
  transition: 0.3s all;
}

.dropdown-link:hover {
  font-size: 1.3rem;
}

@keyframes slideIn {
  0% {
    top: 150px;
  }

  100% {
    top: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .student-panel__list {
    gap: 15px;
  }
  .student-panel__list .link-text {
    font-size: 1rem;
  }

  .student-panel__list .link:hover .link-text {
    font-size: 0.9rem;
  }

  .dropdown {
    width: 100px;
    height: 75px;
  }

  .dropdown-link {
    font-size: 1rem;
  }

  .student-panel__nav {
    padding: 0 15px;
  }
}
