.student-panel__header {
  background-color: var(--container-color-dark);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-panel__list .link {
  font-size: 1.4rem;
}
