.page-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.notes {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notes__list {
  list-style: none;
  max-width: 450px;
}

.notes__title {
  margin-bottom: 24px;
}

.notes__item {
  border-bottom: 1px solid var(--text-color-light);
  margin-top: 24px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.notes__item .item__title {
  margin: 0 auto;
  font-size: 1.5rem;
}

.notes__item .item__message {
  font-size: 1.1rem;
  flex: 1;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.notes__item .item__date {
  text-align: right;
}

.notes__item .item__author {
  text-align: left;
}

.item__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__item:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 576px) {
  .notes__list {
    padding: 0 25px;
  }
}
